/* BACKGROUNDS */

.nav__bg {
  padding-bottom: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav__bg.reviews {
  background-image: url(../assets/images/reviewsBackground.png);
}

.nav__bg.youtube {
  background-image: url(../assets/images/youTubeBackground.png);
}

.nav__bg.photography {
  background-image: url(../assets/images/photographyBackground.png);
  background-position: bottom center;
}

.nav__bg.photography .nav__footer-item p {
  color: white;
  text-shadow: 1px 1px 1px black;
}

.nav__bg.contact {
  background: url(../assets/images/contactBackground.png);
  background-size: cover;
  background-attachment: fixed;
  animation: contact-bg 35s infinite;
}

.nav__bg.contact .nav__footer-item p {
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* NAV STYLES */

.nav__footer-wrap {
  width: 100vw;
  height: auto;
}

.nav__footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75vw;
  margin: 0 auto;
}

.nav__footer-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 2vw;
}

.nav__footer-item a {
  width: 100px;
  height: 100px;
}

.nav__footer-item a:hover + p {
  text-decoration: underline;
}

.nav__footer-item img {
  white-space: nowrap;
  height: 100%;
  width: 100%;
}
