/* BACKGROUNDS */

.nav__bg{

  /* overflow-x: hidden; */
  /* overflow-y: auto; */

  padding-bottom: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.reviews {
  background-image: url(../assets/images/reviewsBackground.png);
}

.youtube {
  background-image: url(../assets/images/youTubeBackground.png);
}

.photography {
  background-image: url(../assets/images/photographyBackground.png);
  /* height: 100%; */
}

/* NAV STYLES */

.nav__header {
}

.nav__footer-wrap {
  width: 100vw;
  height: auto;
}

.nav__footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75vw;
  margin: 0 auto;
}

.nav__footer-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 2vw;
}

.nav__footer-item a {
  width: 100px;
  height: 100px;
}

.nav__footer-item a:hover + p {
  text-decoration: underline;
}

.nav__footer-item img {
  white-space: nowrap;
  height: 100%;
  width: 100%;
}
